<section class="projects content">
  <div class="intro flex">
    <h1 class="font-baijamjuree h1 text-black-primary">My projects</h1>
    <p class="para1 font-inter">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab laborum
      beatae, sunt explicabo nam voluptatum quisquam. Sed earum amet vero,
      blanditiis inventore ut eligendi eos et dicta voluptatibus molestias
      facere.
    </p>
  </div>
  <div class="projects-preview flex">
    <project [project]="project" *ngFor="let project of projects"></project>
  </div>
</section>
<section class="background-gradient">
  <h4 class="h3 font-baijamjuree text-black-secondary">
    Interested in working with me?
  </h4>
  <button [routerLink]="['/contact']" class="button-primary">
    GET IN TOUCH
  </button>
</section>
