.contact {
  .contact-intro {
    gap: 24px;
    margin: 0 auto;
    width: 50%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-top: 48px;
    margin-top: 48px;
  }
  .contact-options {
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 24px;
    .option {
      justify-content: center;
      align-items: center;
      text-align: center;
      a {
        padding: 12px;
        border-radius: 12px;
        img {
          width: 48px;
        }
      }
    }
  }
}
