<section class="contact">
  <div class="contact-intro flex flex-col">
    <h1 class="font-baijamjuree h1 text-gradient">Contact</h1>
    <p class="font-inter para1">
      Have a project in mind? Looking for a partner to wok with? You can call
      me, text me or send an email to
      <a class="text-gradient" href="mailto:danielcastellanos.dev@gmail.com">
        danielcastellanos.dev@gmail.com</a
      >
    </p>
  </div>
  <div class="contact-options flex flex">
    <div *ngFor="let option of contactOptions" class="option flex">
      <a [href]="option.url" target="_blank" class="bg-black-secondary">
        <img [src]="'assets/images/' + option.icon" alt="" />
      </a>
    </div>
  </div>
</section>
