//Colors
//Main Palette
$color-primary: #63b5f7;
$color-secondary: #0d2d45;

//Texts
$color-primary-text: #2f2f2f;
$color-secondary-text: #6b6b6e;
$color-optional-text: #757678;
$color-altenative-text: #f2ddff;
$color-invert-text: #f9f6f2;
//Fonts
//typography
$font-primary: "Barlow Condensed", sans-serif;
$font-secondary: "Montserrat", sans-serif;

//sizes
$xlg: 3.6rem;
$lg: 2.8rem;
$md: 2.2rem;
$sm: 1.8rem;
$xsm: 1.6rem;

//weights
$xbold: 800;
$bold: 600;
$normal: 400;
$light: 300;
$xlight: 200;

//mixins
@mixin title($color) {
  font-size: $xlg;
  font-family: $font-primary;
  font-weight: $bold;
  color: $color;
}

@mixin main-paragraph($color) {
  font-size: $md;
  font-family: $font-secondary;
  font-weight: $bold;
  color: $color;
}

@mixin info-paragraph($color) {
  line-height: 2.4rem;
  font-size: $sm;
  font-family: $font-secondary;
  font-weight: $normal;
  color: $color;
}

@mixin optional-info-paragraph($color) {
  line-height: 1.5rem;
  font-size: $xsm;
  font-family: $font-secondary;
  font-weight: $light;
  color: $color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body{
  background-color: $color-invert-text;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}


.fade-in{
  opacity: 0;
  scale: 0.8;
  transition: 300ms ease-in;
}

.fade-in.appear{
  scale: 1;
  opacity: 1;
}

