.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: none !important;
  .presentation__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
    width: 100%;
    margin: 5rem auto;
    .presentation__info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .presentation__title {
        text-align: end;
        @include title($color-primary-text);
      }
      .presentation__paragraph {
        text-align: end;
        max-width: 80%;
        @include main-paragraph($color-primary-text);
      }
      .presentation__paragraph--position {
        text-align: end;
        max-width: 80%;
        @include main-paragraph($color-primary);
      }
    }

    .presentation__portrait {
      position: relative;
      display: flex;
      justify-content: flex-start;
      margin: 0 2rem;
      .portrait__img {
        position: absolute;

        z-index: 2;
        height: 280px;

        img {
          transform: translateX(10px);
          max-height: 100%;
        }
      }
      .portrait__figure {
        z-index: -2;
        width: 280px;
        height: 280px;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .presentation {
    .presentation__content {
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
      .presentation__info {
        align-items: center;
        .presentation__paragraph, .presentation__paragraph--position {
          text-align: center;
          max-width: 100%;
        }
      }
    }
  }
}
