.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 10rem;
  margin: 5rem auto;
  .projects__title {
    @include title($color-primary-text);
  }
  .projects__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    place-items: center;
    margin: 3rem auto;
    .project {
      position: relative;
      height: 32rem;
      width: 26rem;
      overflow: hidden;
      padding: 1rem;
      border: 2px solid $color-primary;
      box-shadow: 12px 12px 0px $color-primary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__title {
        display: flex;
        justify-content: center;
        background-color: $color-primary;
        padding: 1rem;
        margin: 1rem auto;
        @include main-paragraph($color-invert-text);
      }
      &__description {
        display: flex;
        justify-content: center;
        padding: 1rem;
        margin: 1rem;
        width: 80%;
        text-align: center;
        @include info-paragraph($color-primary-text);
      }
      &__img {
        position: absolute;
        width: 320px;
        height: 320px;
        overflow: hidden;
        background-color: $color-invert-text;
        z-index: -1;

        img {
          transition: 300ms;
          transform: translate(-25%, -50%);
          filter: opacity(0) blur(0.2rem);
          width: 150%;
        }
      }
      &:hover {
        .project__img {
          img {
            filter: opacity(0.1) blur(0.2rem);
          }
        }
      }
      &__cta {
        display: flex;
        .project__code,
        .project__view {
          margin: 1rem;
          font-size: $lg;
          color: $color-primary;
          &:hover {
            color: $color-alternative;
          }
        }
      }
      
    }
  }
}
