.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 10rem;
  .projects__title {
    @include title($color-primary-text);
  }
  .projects__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    padding-top: 10rem;
    place-items: center;
    margin: 3rem auto;
    .project {
      position: relative;
      height: 32rem;
      width: 26rem;
      overflow: hidden;
      padding: 1rem;
      border: 1px solid $color-primary;
      border-radius: 2rem;
      box-shadow: 6px 6px 0px $color-primary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__title {
        display: flex;
        justify-content: center;
        padding: 1rem;
        margin: 1rem auto;
        @include main-paragraph($color-primary);
      }
      &__description {
        display: flex;
        justify-content: center;
        padding: 1rem;
        margin: 1rem;
        width: 80%;
        text-align: center;
        @include info-paragraph($color-primary-text);
      }
      &__cta {
        display: flex;
        .project__code,
        .project__view {
          margin: 1rem;
          font-size: $lg;
          color: $color-primary;
          transition: 200ms;
          &:hover {
            transform: translateY(-2px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .projects {
    .projects__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 590px) {
  .projects {
    .projects__grid {
      grid-template-columns: 1fr;
    }
  }
}
