.sections__bar {
  position: fixed;
  top: 0rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  z-index: 3;
  background-color: $color-secondary;
  a {
    @include main-paragraph($color-primary-text);
    text-decoration: none;
    color: $color-secondary-text;
    padding: 1rem 1.6rem;
    &:hover {
      color: $color-primary-text;
    }
  }
}
