* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f9f6f2;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.fade-in {
  opacity: 0;
  scale: 0.8;
  transition: 300ms ease-in;
}

.fade-in.appear {
  scale: 1;
  opacity: 1;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: none !important;
}
.presentation .presentation__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  align-items: center;
  width: 100%;
  margin: 5rem auto;
}
.presentation .presentation__content .presentation__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.presentation .presentation__content .presentation__info .presentation__title {
  text-align: end;
  font-size: 3.6rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  color: #2f2f2f;
}
.presentation .presentation__content .presentation__info .presentation__paragraph {
  text-align: end;
  max-width: 80%;
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #2f2f2f;
}
.presentation .presentation__content .presentation__info .presentation__paragraph--position {
  text-align: end;
  max-width: 80%;
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #63b5f7;
}
.presentation .presentation__content .presentation__portrait {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin: 0 2rem;
}
.presentation .presentation__content .presentation__portrait .portrait__img {
  position: absolute;
  z-index: 2;
  height: 280px;
}
.presentation .presentation__content .presentation__portrait .portrait__img img {
  transform: translateX(10px);
  max-height: 100%;
}
.presentation .presentation__content .presentation__portrait .portrait__figure {
  z-index: -2;
  width: 280px;
  height: 280px;
}

@media screen and (max-width: 950px) {
  .presentation .presentation__content {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .presentation .presentation__content .presentation__info {
    align-items: center;
  }
  .presentation .presentation__content .presentation__info .presentation__paragraph, .presentation .presentation__content .presentation__info .presentation__paragraph--position {
    text-align: center;
    max-width: 100%;
  }
}
.sections__bar {
  position: fixed;
  top: 0rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  z-index: 3;
  opacity: 1;
  background-color: #63b5f7;
}
.sections__bar:hover {
  opacity: 1;
}
.sections__bar a {
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #f9f6f2;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 1.6rem;
  transition: 200ms;
}
.sections__bar a:hover {
  transform: translateY(-2px);
}

@media screen and (max-width: 590px) {
  .sections__bar {
    display: none;
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 10rem;
}
.about .about__title {
  font-size: 3.6rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  color: #2f2f2f;
}
.about .about__description {
  padding: 3rem 2rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #2f2f2f;
  margin: 3rem auto;
}
.about .about__description .about__image {
  display: flex;
  max-width: 320px;
  border-radius: 2rem;
  overflow: hidden;
  margin: 1rem;
  margin-bottom: 3rem;
}
.about .about__description .about__image img {
  width: 100%;
}
.about .about__description .about__info {
  font-size: 1.6rem;
  padding: 0rem 2rem;
}

@media screen and (max-width: 900px) {
  .about .about__description {
    flex-direction: column;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 10rem;
}
.projects .projects__title {
  font-size: 3.6rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  color: #2f2f2f;
}
.projects .projects__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  padding-top: 10rem;
  place-items: center;
  margin: 3rem auto;
}
.projects .projects__grid .project {
  position: relative;
  height: 32rem;
  width: 26rem;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid #63b5f7;
  border-radius: 2rem;
  box-shadow: 6px 6px 0px #63b5f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects .projects__grid .project__title {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem auto;
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #63b5f7;
}
.projects .projects__grid .project__description {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  width: 80%;
  text-align: center;
  line-height: 3rem;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #2f2f2f;
}
.projects .projects__grid .project__cta {
  display: flex;
}
.projects .projects__grid .project__cta .project__code,
.projects .projects__grid .project__cta .project__view {
  margin: 1rem;
  font-size: 2.8rem;
  color: #63b5f7;
  transition: 200ms;
}
.projects .projects__grid .project__cta .project__code:hover,
.projects .projects__grid .project__cta .project__view:hover {
  transform: translateY(-2px);
}

@media screen and (max-width: 900px) {
  .projects .projects__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 590px) {
  .projects .projects__grid {
    grid-template-columns: 1fr;
  }
}
.studies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 10rem;
}
.studies__title {
  text-align: center;
  font-size: 3.6rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  color: #2f2f2f;
}
.studies__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  padding-top: 10rem;
  place-items: center;
  margin: 3rem auto;
}
.studies__grid .study {
  position: relative;
  height: 32rem;
  width: 26rem;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #63b5f7;
  border-radius: 2rem;
  box-shadow: 6px 6px 0px #63b5f7;
}
.studies__grid .study__title {
  text-align: center;
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #63b5f7;
}
.studies__grid .study__institution {
  text-align: center;
  margin: 1rem;
  line-height: 3rem;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #6b6b6e;
}
.studies__grid .study__icon {
  margin: 2rem;
  max-width: 60px;
}
.studies__grid .study__icon img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .studies__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 590px) {
  .studies__grid {
    grid-template-columns: 1fr;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 10rem;
}
.contact__title {
  text-align: center;
  font-size: 3.6rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  color: #2f2f2f;
}
.contact__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10rem;
}
.contact__items .contact__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem 0;
}
.contact__items .contact__item svg, .contact__items .contact__item p, .contact__items .contact__item a {
  margin: 0 2rem;
  line-height: 3rem;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #757678;
}
.contact__items .contact__item svg {
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #757678;
}

@media screen and (max-width: 590px) {
  .contact__items {
    align-items: center;
  }
  .contact__items .contact__item {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
