* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f9f6f2;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.presentation {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  align-items: center;
  margin: 5rem auto;
  padding: 5rem 0;
}
.presentation__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.presentation__info .presentation__title {
  text-align: end;
  font-size: 3.6rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  color: #464646;
}
.presentation__info .presentation__paragraph {
  text-align: end;
  max-width: 100%;
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #757678;
}
.presentation .presentation__portrait {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 2rem;
}
.presentation .presentation__portrait .portrait__img {
  position: absolute;
  z-index: 2;
  height: 320px;
}
.presentation .presentation__portrait .portrait__img img {
  max-height: 100%;
}
.presentation .presentation__portrait .portrait__figure {
  z-index: -2;
  width: 280px;
  height: 280px;
  background-color: #5d97d1;
  animation: spin 100s linear 0s infinite forwards;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sections__bar {
  position: fixed;
  top: 0rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  z-index: 3;
  opacity: 1;
  background-color: #f9f6f2;
}
.sections__bar:hover {
  opacity: 1;
}
.sections__bar a {
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #083951;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 1.6rem;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.about .about__title {
  font-size: 3.6rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  color: #464646;
}
.about .about__description {
  margin: 3rem auto;
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #464646;
}
.about .about__description .about__image {
  display: flex;
  min-width: 320px;
  border-radius: 2rem;
  overflow: hidden;
}
.about .about__description .about__image img {
  width: 100%;
}
.about .about__description .about__info {
  font-size: 1.6rem;
  padding: 0rem 2rem;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 10rem;
  margin: 5rem auto;
}
.projects .projects__title {
  font-size: 3.6rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  color: #464646;
}
.projects .projects__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  padding-top: 10rem;
  place-items: center;
  margin: 3rem auto;
}
.projects .projects__grid .project {
  position: relative;
  height: 32rem;
  width: 26rem;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid #5d97d1;
  border-radius: 2rem;
  box-shadow: 6px 6px 0px #5d97d1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects .projects__grid .project__title {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem auto;
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #5d97d1;
}
.projects .projects__grid .project__description {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  width: 80%;
  text-align: center;
  line-height: 3rem;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #464646;
}
.projects .projects__grid .project__cta {
  display: flex;
}
.projects .projects__grid .project__cta .project__code,
.projects .projects__grid .project__cta .project__view {
  margin: 1rem;
  font-size: 2.8rem;
  color: #5d97d1;
}

.studies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 10rem;
}
.studies__title {
  text-align: center;
  font-size: 3.6rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  color: #464646;
}
.studies__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  padding-top: 10rem;
  place-items: center;
  margin: 3rem auto;
}
.studies__grid .study {
  position: relative;
  height: 32rem;
  width: 26rem;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #5d97d1;
  border-radius: 2rem;
  box-shadow: 6px 6px 0px #5d97d1;
}
.studies__grid .study__title {
  text-align: center;
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #5d97d1;
}
.studies__grid .study__institution {
  text-align: center;
  margin: 1rem;
  line-height: 3rem;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #6b6b6e;
}
.studies__grid .study__icon {
  margin: 2rem;
  max-width: 60px;
}
.studies__grid .study__icon img {
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 10rem;
}
.contact__title {
  text-align: center;
  font-size: 3.6rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  color: #464646;
}
.contact__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10rem;
}
.contact__items .contact__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem 0;
}
.contact__items .contact__item svg, .contact__items .contact__item p, .contact__items .contact__item a {
  margin: 0 2rem;
  line-height: 3rem;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #757678;
}
.contact__items .contact__item svg {
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #757678;
}

/*# sourceMappingURL=styles.css.map */
