<section class="flex hero content">
  <div class="flex flex-col text">
    <div>
      <div class="font-baijamjuree h1 text-gradient">Hello, I'm Daniel,</div>
      <div class="font-baijamjuree h1 text-black-primary">
        Web developer based in Colombia.
      </div>
    </div>
    <div class="description">
      <p class="para1 font-inter">
        I enjoy creating exceptional web experiences using my skills in frontend
        with Angular and backend with the AWS Cloud.
      </p>
    </div>
  </div>
  <div class="image">
    <img src="assets/images/me1.png" alt="" />
  </div>
</section>
